* {
    /*border: 1px solid black;*/
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 200;
    text-shadow: 1px 1px darkslategray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('beer_background.jpg');
    background-size: 100%;
    background-repeat: none;

}

button {
    width: 20%;
    height: 45px;
    background-color:  rgba(2,122,199,0.75);
    border: 1px solid whitesmoke;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    text-shadow: 1px 1px darkslategray;
    margin-right: 20px;
}

a {
    font-size: 18px;
    font-weight: 200;
    color: whitesmoke;
    text-decoration: none;
}

.container {
    width: 50%;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

.search {
    width: 75%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}

.search-box {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 18px;
}

.search-button {
    width: 30%;
    height: 60px;
    font-size: 18px;
    background-color: rgba(2,122,199,0.75);
    color: whitesmoke;
    text-shadow: 1px 1px darkslategray;
    font-weight: 200;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.results-container {
    width: 98%;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    opacity: 0;
}

.results-header {
    width: 50%;
    height: 100px;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.results-label {
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 0;

}

.search-results {
    /*border: 1px solid lightgray;*/
    width: 1000px;
    max-height: 600px;
    margin-top: 10px;
    align-items: center;
    overflow: auto;
}

.search-in-progress {
    left: 17.6%;
    width: 1025px;
    height: 600px;
    background-color: rgba(0,0,0,0.75);
    color: whitesmoke;
    font-size: 28px;
    z-index: -1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-item {
  border: 1px solid gray;
  width: 98%;
  height: 65px;
  background-color: rgba(0,0,0,0.75);
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.result-info {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brewery-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
    border-right: 2px solid  rgba(2,122,199,0.75);
    border-bottom: 2px solid rgba(2,122,199,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.filter-info {
    position: absolute;
    top: 0;
    left: 69%;
    width: 600px;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
    border-left: 2px solid  rgba(2,122,199,0.75);
    border-bottom: 2px solid rgba(2,122,199,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.info-header {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.info-body {
    width: 90%;
    height: 90%;
    border: 1px solid whitesmoke;
    margin-top: 10px;
    background-color: rgba(0,0,0,1);
}

.info-content {
    width: auto;
    height: 100px;
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}

.data {
    font-size: 18px;
    font-weight: 100;
    height: auto;
    width: auto;
    text-align: center;
    overflow: auto;
}

.filter-header {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter-body {
    width: 90%;
    height: 90%;
    border: 1px solid whitesmoke;
    margin-top: 10px;
    background-color: rgba(0,0,0,1);
}

.filter-label {
    height: 10%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-container {
    max-height: 78%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.filter-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.city, .type{
    width: 175px;
}

#brewery-close {
    width: 10%;
    height: 50px;
    border: 1px solid gray;
    background-color: red;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#filter-close {
    width: 10%;
    height: 50px;
    border: 1px solid gray;
    background-color: red;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#name {
    font-size: 30px;
    text-align: center;
}

#results-filter {
    background-color: gray;
    width: 40%;
}

#results-clear {
    background-color: red;
    width: 40%;
}

#filter-city, #filter-zip, #filter-type {
    background-color: gray;
}





